ci:
    autofix_commit_msg: 'refactor(lint): apply automatic lint fixes'
    autoupdate_commit_msg: 'chore(deps): bump pre-commit linter versions'
    skip: [terraform_fmt, terraform_validate]

default_install_hook_types:
  - commit-msg
  - pre-commit

default_language_version:
    python: python3.11

exclude: '^docker-tuning-primer/root/.*.sh$'

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

# python
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: debug-statements
      - id: double-quote-string-fixer
      - id: name-tests-test
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/pylint
    rev: v3.3.9
    hooks:
      # TODO: pylint-import-modules support for pylint v3 (or alternative linter)
      # - id: pylint
      #   name: pylint-docker-atc1441-exporter
      #   args:
      #     - --load-plugins=pylint.extensions.mccabe
      #     - --max-complexity=10
      #     - --max-line-length=79
      #     - --max-module-lines=500
      #     - --max-positional-arguments=10
      #     - --max-args=10
      #     - --score=n
      #     # TODO: narrow these down
      #     - -d broad-except
      #     - -d duplicate-code
      #     - -d fixme
      #     - -d import-error
      #     - -d invalid-name
      #     - -d locally-disabled
      #     - -d missing-docstring
      #     - -d too-few-public-methods
      #     - -d try-except-raise
      #     - -d ungrouped-imports  # conflicts with reorder-python-imports
      #     - -d wrong-import-order  # conflicts with reorder-python-imports
      #   files: docker-atc1441-exporter/
      #   language_version: python3.9
      - &pylint
        id: pylint
        name: pylint-docker-gcloud-pubsub-emulator
        args:
          - --load-plugins=pylint.extensions.mccabe
          - --max-complexity=10
          - --max-line-length=79
          - --max-module-lines=500
          - --max-positional-arguments=10
          - --max-args=10
          - --score=n
          # TODO: narrow these down
          - -d broad-except
          - -d duplicate-code
          - -d fixme
          - -d import-error
          - -d invalid-name
          - -d locally-disabled
          - -d missing-docstring
          - -d too-few-public-methods
          - -d try-except-raise
          - -d ungrouped-imports  # conflicts with reorder-python-imports
          - -d wrong-import-order  # conflicts with reorder-python-imports
        files: docker-gcloud-pubsub-emulator/
      - <<: *pylint
        name: pylint-task
        files: task/
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        exclude: 'Makefile'
  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
        args: [--py39-plus]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      # - id: mypy
      #   name: mypy-docker-atc1441-exporter
      #   require_serial: True
      #   language: python
      #   language_version: python3.9
      #   additional_dependencies:
      #     - prometheus-client==0.22.0
      #   args:
      #     - --show-error-codes
      #     - --strict
      #     - --strict-equality
      #     - --warn-unreachable
      #   files: docker-atc1441-exporter/
      - &mypy
        id: mypy
        name: mypy-docker-gcloud-pubsub-emulator
        require_serial: True
        language: python
        additional_dependencies:
          - aiohttp==3.13.2
          - google-cloud-pubsub==2.33.0
        args:
          - --show-error-codes
          - --strict
          - --strict-equality
          - --warn-unreachable
        files: docker-gcloud-pubsub-emulator/
      - <<: *mypy
        name: mypy-task
        additional_dependencies:
          - pydantic==2.11.4
          - typer==0.16.0
        files: task/
  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
        language: python
        # N.B. keep these in sync with flake8, otherwise yesqa will remove
        # required noqa's related to these plugins
        additional_dependencies: &flake8deps
          - flake8-2020==1.8.1
          - flake8-broken-line==1.0.0
          - flake8-builtins==3.1.0
          - flake8-comprehensions==3.17.0
          - flake8-import-restrictions==2.1
  - repo: https://github.com/guilatrova/tryceratops
    rev: v2.4.1
    hooks:
      - id: tryceratops
        args:
          - --autofix
          - -iTRY003
          - -iTRY100
          - -iTRY101
          - -iTRY301
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        args: [-a, -i, -p2]
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args:
          - --ignore=D1,D203,D205,D212,D400,D401,D404,D407,D412,D413
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        language: python
        additional_dependencies: *flake8deps
        args:
          # https://www.flake8rules.com/
          # E501: Line too long. Covered by autopep8.
          # E741: Do not use variables named 'I', 'O', or 'l'.
          # W503: Line break occurred before a binary operator. Breaks PEP8.
          # IMR200: Imports should only happen on module level, not locally. Covered by pylint.
          # IMR241: When using 'from', import submodules not elements.
          - --ignore=E501,E741,W503,IMR200,IMR241
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      # - id: refurb
      #   name: refurb-docker-atc1441-exporter
      #   args:
      #     - --python-version
      #     - '3.9'
      #   files: docker-atc1441-exporter/
      - &refurb
        id: refurb
        name: refurb-docker-gcloud-pubsub-emulator
        args:
          - --python-version
          - '3.11'
        files: docker-gcloud-pubsub-emulator/
      - <<: *refurb
        name: refurb-task
        args:
          - --python-version
          - '3.11'
        files: task/
  - repo: local
    hooks:
      - id: poetry-check
        name: check pyproject.toml validity
        description: 'Validate the structure of the pyproject.toml file'
        entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
        language: python
        additional_dependencies:
          - poetry==2.2.1
        pass_filenames: true
        files: 'pyproject\.toml$'
      - id: pyproject-use-version-ranges
        name: avoid using carets for version ranges
        description: 'Avoid using carets for version ranges'
        entry: '\^'
        language: pygrep
        types: [toml]
        files: 'pyproject.toml$'
      - id: pytest-fixtures-require-scope
        name: ensure pytest fixture scopes are explicitly set
        description: 'Ensure we explicitly set pytest fixture scopes'
        entry: '@pytest\.fixture( |\n|(\(\)))'
        language: pygrep
        types: [python]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

# rst
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

# json
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.34.1
    hooks:
      - id: check-circle-ci
      - id: check-github-workflows
      - id: check-renovate
        language: python
        additional_dependencies:
          - pyjson5==1.6.9
        files: >
          (?x)^(
            renovate\.(json|json5)|
            \.(github|gitlab)/renovate\.(json|json5)|
            \.renovaterc|
            \.renovaterc\.(json|json5)|
            renovate/.*\.(json|json5)
          )$

# docker
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.1b3
    hooks:
      - id: hadolint
        args:
          # TODO: get renovate to work with apt pinning
          - --ignore=DL3008
          # TODO: get renovate to work with apk pinning
          - --ignore=DL3018
          # https://github.com/hadolint/hadolint/wiki/DL3025
          # Breaks `exec` usage
          - --ignore=DL3025
          # https://github.com/hadolint/hadolint/issues/497
          - --ignore=DL3042

# javascript
  - repo: https://github.com/pre-commit/mirrors-fixmyjs
    rev: v2.0.0
    hooks:
      - id: fixmyjs
        exclude: '(.*.min.js)'
# TODO: enable me
#   - repo: https://github.com/pre-commit/mirrors-jshint
#     rev: v2.13.6
#     hooks:
#       - id: jshint
#         exclude: '(.*.min.js)'

# shell
# TODO: enable me
#  - repo: https://github.com/openstack/bashate
#    rev: 2.1.1
#    hooks:
#      - id: bashate
#        args: [--max-line-length=80]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-not-have-extension
        exclude: 'slack-notifier/send-deploy-notif.sh'
