version: 2.1

orbs:
  orb-tools: circleci/orb-tools@7.3.0
  linter: thekevjames/linter@volatile

jobs:
  build-docker-readme:
    docker:
      - image: pandoc/core:2.7.3
    parameters:
      module:
        type: string
    steps:
      - run: apk add --update ca-certificates openssl
      - run: mkdir /meta
      - checkout
      - run: pandoc -o/meta/README.md docker-<<parameters.module>>/README.rst
      - persist_to_workspace:
          root: /meta
          paths:
            - README.md

  # TODO: this should be doable with curl or python...
  push-docker-readme:
    docker:
      - image: node:12.9.0-alpine
    parameters:
      module:
        type: string
    steps:
      - run: apk add --update ca-certificates openssl
      - checkout
      - run: npm install docker-hub-api
      - attach_workspace:
          at: /meta
      - run: node ./docker-update-readme.js thekevjames <<parameters.module>> /meta/README.md

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          python_version: 3.7.4
          pre-steps:
            - run: apt-get update
            - run: apt-get install -qy shellcheck
          filters:
            tags:
              only: /.*/

      # ORB: deployment-notifier
      - orb-tools/lint:
          name: lint-orbs-deployment-notifier
          lint-dir: circleci-orbs/deployment-notifier
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          name: pack-orbs-deployment-notifier
          source-dir: circleci-orbs/deployment-notifier
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-deployment-notifier
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-deployment-notifier
          orb-name: thekevjames/deployment-notifier
          filters:
            tags:
              only: /.*/
          requires:
            - pack-orbs-deployment-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-deployment-notifier
          orb-name: thekevjames/deployment-notifier
          release: patch
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
          requires:
            - publish-dev-orbs-deployment-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-deployment-notifier
          orb-name: thekevjames/deployment-notifier
          release: minor
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-deployment-notifier-minor/
          requires:
            - publish-dev-orbs-deployment-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-deployment-notifier
          orb-name: thekevjames/deployment-notifier
          release: major
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-deployment-notifier-major/
          requires:
            - publish-dev-orbs-deployment-notifier

      # ORB: linter
      - orb-tools/lint:
          name: lint-orbs-linter
          lint-dir: circleci-orbs/linter
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          name: pack-orbs-linter
          source-dir: circleci-orbs/linter
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-linter
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-linter
          orb-name: thekevjames/linter
          filters:
            tags:
              only: /.*/
          requires:
            - pack-orbs-linter
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-linter
          orb-name: thekevjames/linter
          release: patch
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
          requires:
            - publish-dev-orbs-linter
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-linter
          orb-name: thekevjames/linter
          release: minor
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-linter-minor/
          requires:
            - publish-dev-orbs-linter
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-linter
          orb-name: thekevjames/linter
          release: major
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-linter-major/
          requires:
            - publish-dev-orbs-linter

      # ORB: notifier
      - orb-tools/lint:
          name: lint-orbs-notifier
          lint-dir: circleci-orbs/notifier
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          name: pack-orbs-notifier
          source-dir: circleci-orbs/notifier
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-notifier
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-notifier
          orb-name: thekevjames/notifier
          filters:
            tags:
              only: /.*/
          requires:
            - pack-orbs-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-notifier
          orb-name: thekevjames/notifier
          release: patch
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
          requires:
            - publish-dev-orbs-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-notifier
          orb-name: thekevjames/notifier
          release: minor
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-notifier-minor/
          requires:
            - publish-dev-orbs-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-notifier
          orb-name: thekevjames/notifier
          release: major
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-notifier-major/
          requires:
            - publish-dev-orbs-notifier

      # ORB: tester
      - orb-tools/lint:
          name: lint-orbs-tester
          lint-dir: circleci-orbs/tester
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          name: pack-orbs-tester
          source-dir: circleci-orbs/tester
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-tester
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-tester
          orb-name: thekevjames/tester
          filters:
            tags:
              only: /.*/
          requires:
            - pack-orbs-tester
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-tester
          orb-name: thekevjames/tester
          release: patch
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
          requires:
            - publish-dev-orbs-tester
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-tester
          orb-name: thekevjames/tester
          release: minor
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-tester-minor/
          requires:
            - publish-dev-orbs-tester
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-tester
          orb-name: thekevjames/tester
          release: major
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-tester-major/
          requires:
            - publish-dev-orbs-tester

      # ORB: pytest
      - orb-tools/lint:
          name: lint-orbs-pytest
          lint-dir: circleci-orbs/pytest
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          name: pack-orbs-pytest
          source-dir: circleci-orbs/pytest
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-pytest
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-pytest
          orb-name: thekevjames/pytest
          filters:
            tags:
              only: /.*/
          requires:
            - pack-orbs-pytest
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-pytest
          orb-name: thekevjames/pytest
          release: patch
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
          requires:
            - publish-dev-orbs-pytest
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-pytest
          orb-name: thekevjames/pytest
          release: minor
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-pytest-minor/
          requires:
            - publish-dev-orbs-pytest
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-pytest
          orb-name: thekevjames/pytest
          release: major
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /orb-pytest-major/
          requires:
            - publish-dev-orbs-pytest

      # DOCKER: mysqltuner
      - build-docker-readme:
          name: build-docker-readme-mysqltuner
          module: mysqltuner
          filters:
            tags:
              only: /docker-mysqltuner-*/
            branches:
              ignore: /.*/
          requires:
            - linter/pre-commit
      - push-docker-readme:
          name: push-docker-readme-mysqltuner
          module: mysqltuner
          filters:
            tags:
              only: /docker-mysqltuner-*/
            branches:
              ignore: /.*/
          requires:
            - build-docker-readme-mysqltuner

      # DOCKER: nox
      - build-docker-readme:
          name: build-docker-readme-nox
          module: nox
          filters:
            tags:
              only: /nox-*/
            branches:
              ignore: /.*/
          requires:
            - linter/pre-commit
      - push-docker-readme:
          name: push-docker-readme-nox
          module: nox
          filters:
            tags:
              only: /nox-*/
            branches:
              ignore: /.*/
          requires:
            - build-docker-readme-nox

      # DOCKER: tuning-primer
      - build-docker-readme:
          name: build-docker-readme-tuning-primer
          module: tuning-primer
          filters:
            tags:
              only: /docker-tuning-primer-*/
            branches:
              ignore: /.*/
          requires:
            - linter/pre-commit
      - push-docker-readme:
          name: push-docker-readme-tuning-primer
          module: tuning-primer
          filters:
            tags:
              only: /docker-tuning-primer-*/
            branches:
              ignore: /.*/
          requires:
            - build-docker-readme-tuning-primer
