version: 2.1

orbs:
  orb-tools: circleci/orb-tools@7.3.0
  linter: thekevjames/linter@volatile

jobs:
  build-docker-readme:
    docker:
      - image: pandoc/core:2.7.3
    parameters:
      module:
        type: string
    steps:
      - run: apk add --update ca-certificates openssl
      - run: mkdir /meta
      - checkout
      - run: pandoc -o/meta/README.md docker-<<parameters.module>>/README.rst
      - persist_to_workspace:
          root: /meta
          paths:
            - README.md

  # TODO: this should be doable with curl or python...
  push-docker-readme:
    docker:
      - image: node:12.9.0-alpine
    parameters:
      module:
        type: string
    steps:
      - run: apk add --update ca-certificates openssl
      - checkout
      - run: npm install docker-hub-api
      - attach_workspace:
          at: /meta
      - run: node ./docker-update-readme.js thekevjames <<parameters.module>> /meta/README.md

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          python_version: 3.7.4

      - orb-tools/lint:
          name: lint-orbs-deployment-notifier
          lint-dir: circleci-orbs/deployment-notifier
      - orb-tools/pack:
          name: pack-orbs-deployment-notifier
          source-dir: circleci-orbs/deployment-notifier
          requires:
            - lint-orbs-deployment-notifier
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-deployment-notifier
          orb-name: thekevjames/deployment-notifier
          requires:
            - linter/pre-commit
            - pack-orbs-deployment-notifier
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-deployment-notifier
          orb-name: thekevjames/deployment-notifier
          # TODO: allow major and minor semver updates
          release: patch
          requires:
            - publish-dev-orbs-deployment-notifier

      - orb-tools/lint:
          name: lint-orbs-linter
          lint-dir: circleci-orbs/linter
      - orb-tools/pack:
          name: pack-orbs-linter
          source-dir: circleci-orbs/linter
          requires:
            - lint-orbs-linter
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-linter
          orb-name: thekevjames/linter
          requires:
            - linter/pre-commit
            - pack-orbs-linter
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-linter
          orb-name: thekevjames/linter
          # TODO: allow major and minor semver updates
          release: patch
          requires:
            - publish-dev-orbs-linter

      - orb-tools/lint:
          name: lint-orbs-pytest
          lint-dir: circleci-orbs/pytest
      - orb-tools/pack:
          name: pack-orbs-pytest
          source-dir: circleci-orbs/pytest
          requires:
            - lint-orbs-pytest
      - orb-tools/publish-dev:
          context: org-global
          name: publish-dev-orbs-pytest
          orb-name: thekevjames/pytest
          requires:
            - linter/pre-commit
            - pack-orbs-pytest
      - orb-tools/dev-promote-prod:
          context: org-global
          name: dev-promote-prod-orbs-pytest
          orb-name: thekevjames/pytest
          # TODO: allow major and minor semver updates
          release: patch
          requires:
            - publish-dev-orbs-pytest

      - build-docker-readme:
          name: build-docker-readme-mysqltuner
          module: mysqltuner
          filters:
            tags:
              only: /docker-mysqltuner-*/
            branches:
              ignore: /.*/
      - push-docker-readme:
          name: push-docker-readme-mysqltuner
          module: mysqltuner
          filters:
            tags:
              only: /docker-mysqltuner-*/
            branches:
              ignore: /.*/
          requires:
            - build-docker-readme-mysqltuner

      - build-docker-readme:
          name: build-docker-readme-nox
          module: nox
          filters:
            tags:
              only: /nox-*/
            branches:
              ignore: /.*/
      - push-docker-readme:
          name: push-docker-readme-nox
          module: nox
          filters:
            tags:
              only: /nox-*/
            branches:
              ignore: /.*/
          requires:
            - build-docker-readme-nox

      - build-docker-readme:
          name: build-docker-readme-tuning-primer
          module: tuning-primer
          filters:
            tags:
              only: /docker-tuning-primer-*/
            branches:
              ignore: /.*/
      - push-docker-readme:
          name: push-docker-readme-tuning-primer
          module: tuning-primer
          filters:
            tags:
              only: /docker-tuning-primer-*/
            branches:
              ignore: /.*/
          requires:
            - build-docker-readme-tuning-primer
