version: 2.1

orbs:
  docker: talkiq/docker@3

commands:
  custom-tag:
    parameters:
      ident:
        type: string
      tag:
        default: /tmp/custom-tag
        type: string
    steps:
      - run: docker tag "thekevjames/<<parameters.ident>>:latest" "thekevjames/<<parameters.ident>>:$(cat <<parameters.tag>>)"
      - run: docker tag "quay.io/thekevjames/<<parameters.ident>>:latest" "quay.io/thekevjames/<<parameters.ident>>:$(cat <<parameters.tag>>)"
      - run: docker push "thekevjames/<<parameters.ident>>:$(cat <<parameters.tag>>)"
      - run: docker push "quay.io/thekevjames/<<parameters.ident>>:$(cat <<parameters.tag>>)"

jobs:
  docker-publish:
    docker:
      - image: docker:24.0.2-git
    parameters:
      ident:
        type: string
      tag:
        type: string
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
      - run: echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
      - run: echo "$QUAY_PASS" | docker login quay.io --username "$QUAY_USER" --password-stdin
      - docker/build:
          local_image_name: "<<parameters.ident>>:${CIRCLE_SHA1:0:10}"
          path: "docker-<<parameters.ident>>"
      - run: docker tag "<<parameters.ident>>:${CIRCLE_SHA1:0:10}" "thekevjames/<<parameters.ident>>:<<parameters.tag>>"
      - run: docker tag "<<parameters.ident>>:${CIRCLE_SHA1:0:10}" "thekevjames/<<parameters.ident>>:latest"
      - run: docker tag "<<parameters.ident>>:${CIRCLE_SHA1:0:10}" "quay.io/thekevjames/<<parameters.ident>>:<<parameters.tag>>"
      - run: docker tag "<<parameters.ident>>:${CIRCLE_SHA1:0:10}" "quay.io/thekevjames/<<parameters.ident>>:latest"
      - run: docker push "thekevjames/<<parameters.ident>>:<<parameters.tag>>"
      - run: docker push "thekevjames/<<parameters.ident>>:latest"
      - run: docker push "quay.io/thekevjames/<<parameters.ident>>:<<parameters.tag>>"
      - run: docker push "quay.io/thekevjames/<<parameters.ident>>:latest"

  docker-readme-build:
    docker:
      - image: pandoc/core:3.1.1
    parameters:
      ident:
        type: string
      prefix:
        default: 'docker-'
        type: string
    steps:
      - run: apk add --no-cache --no-progress ca-certificates openssl
      - run: mkdir /meta
      - checkout
      - run: pandoc -o/meta/README.md <<parameters.prefix>><<parameters.ident>>/README.rst
      - persist_to_workspace:
          root: /meta
          paths:
            - README.md

  # TODO: this should be doable with curl or python...
  docker-readme-push:
    docker:
      - image: node:20.3.0-alpine
    parameters:
      ident:
        type: string
    steps:
      - run: apk add --no-cache --no-progress ca-certificates openssl
      - checkout
      - run: npm install docker-hub-api
      - attach_workspace:
          at: /meta
      - run: node ./docker-update-readme.js thekevjames <<parameters.ident>> /meta/README.md

workflows:
  manual-publish:
    jobs:
      - docker-publish:
          name: docker-publish-<<matrix.ident>>
          tag: "${CIRCLE_TAG/docker-<<matrix.ident>>-/}"
          matrix:
            parameters:
              ident:
                - caddy-security
                - gcloud-pubsub-emulator
                - mysqltuner
                - nox
                - tuning-primer
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^docker-<<matrix.ident>>-.*/
      - docker-readme-build:
          name: docker-readme-build-<<matrix.ident>>
          matrix:
            parameters:
              ident:
                - caddy-security
                - gcloud-pubsub-emulator
                - mysqltuner
                - nox
                - tuning-primer
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^docker-<<matrix.ident>>-.*/
      - docker-readme-push:
          name: docker-readme-push-<<matrix.ident>>
          matrix:
            parameters:
              ident:
                - caddy-security
                - gcloud-pubsub-emulator
                - mysqltuner
                - nox
                - tuning-primer
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^docker-<<matrix.ident>>-.*/
          requires:
            - docker-readme-build-<<matrix.ident>>
            - docker-publish-<<matrix.ident>>

  run-jobs:
    jobs:
      - docker-publish:
          name: docker-autopublish-caddy-security
          ident: caddy-security
          tag: "${CIRCLE_SHA1:0:10}"
          post-steps:
            - run: |
                export CADDY_VERSION=$(awk -F':|-' '/builder-alpine/ {print $2}' docker-caddy-security/Dockerfile)
                export SECURITY_VERSION=$(awk -F'@v' '/caddy-security/ {print $2}' docker-caddy-security/Dockerfile)
                echo "${CADDY_VERSION}-${SECURITY_VERSION}" >/tmp/custom-tag
            - custom-tag:
                ident: caddy-security
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
      - docker-publish:
          name: docker-autopublish-gcloud-pubsub-emulator
          ident: gcloud-pubsub-emulator
          tag: "${CIRCLE_SHA1:0:10}"
          post-steps:
            - run: |
                export GCLOUD_VERSION=$(awk -F':|-' '/cloud-sdk/ {print $3}' docker-gcloud-pubsub-emulator/Dockerfile)
                echo "${GCLOUD_VERSION}" >/tmp/custom-tag
            - custom-tag:
                ident: gcloud-pubsub-emulator
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
      - docker-publish:
          name: docker-autopublish-nox
          ident: nox
          tag: "${CIRCLE_SHA1:0:10}"
          post-steps:
            - run: |
                export NOX_VERSION=$(awk -F'=' '/nox/ {print $3}' docker-nox/requirements.txt)
                echo "${NOX_VERSION}" >/tmp/custom-tag
            - custom-tag:
                ident: nox
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/

      - docker-readme-build:
          name: docker-readme-build-<<matrix.ident>>
          matrix:
            parameters:
              ident:
                - caddy-security
                - gcloud-pubsub-emulator
                - mysqltuner
                - nox
                - tuning-primer
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
      - docker-readme-push:
          name: docker-readme-push-<<matrix.ident>>
          matrix:
            parameters:
              ident:
                - caddy-security
                - gcloud-pubsub-emulator
                - mysqltuner
                - nox
                - tuning-primer
          filters:
            branches:
              only: /master/
            tags:
              ignore: /.*/
          requires:
            - docker-readme-build-<<matrix.ident>>
