<section class="strongboxes">
  <p>I'm not convinced anyone has actually done the math on this, so take the following with a grain of salt. The following seems to be the most "generally agreed upon" cheatsheet.</p>

  <img src="https://i.imgur.com/LbwIDhC.jpg"/>
</section>
